* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add your website styles */

a:link {
  color: white;
  text-decoration: none;
}

#logoName {
  color: white;
  font-size: 32px;
  font-family: sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  background-color: rgb(0, 0, 0);
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* I think I should change these dimensions to vh - as I believe it will make them adjustable. Same goes for font */
  width: 594.938px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
  padding-top: 40px;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 200;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-transform: uppercase;
  position: fixed;
  z-index: 10;
}

.pageTop {
  display: flex;
  align-items: start;
  background-size: cover;
  background-image: url(https://spacey-kappa.vercel.app/assets/galaxy-5803c9f1.jpg);
  height: 100vh;
  justify-content: flex-start;
  align-items: end;
  margin: 0;
}

.center-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 150px;
  margin: 48px;
  margin-bottom: 200px;
  color: white;
  width: 500px;
}

#readMore {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  font-family: sans-serif;
  justify-content: start;
  align-items: center;
  text-transform: uppercase;
  text-decoration-style: solid;
  letter-spacing: 1.6px;
  height: 15px;
  width: 200px;
  padding-left: 32px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

/* This part is currently challenging for me - I figured out how to get the second image (sectioned as pageMiddle) to be directly below the top image, however i can't seem to get it to span the entire page, even though I have included background-size: cover; and a height and width of 100vh;! */

/* I figured this out, I checked if there was anything wrong with my HTML and I had misplaced my sections :) */

.pageMiddle {
  display: flex;
  align-items: start;
  background-size: cover;
  background-position: center;
  background-image: url(https://spacey-kappa.vercel.app/assets/landscape-2ee9445b.jpg);
  height: 100vh;
  position: relative;
  top: 100%;
  justify-content: flex-start;
  align-items: end;
  margin: 0;
}

.center-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 150px;
  margin: 48px;
  margin-bottom: 200px;
  color: white;
  width: 500px;
}

.pageBottom {
  display: flex;
  align-items: start;
  background-size: cover;
  background-position: center;
  background-image: url(https://spacey-kappa.vercel.app/assets/eclipse-11d9479c.jpg);
  height: 100vh;
  position: relative;
  top: 100%;
  justify-content: flex-start;
  align-items: end;
  margin: 0;
}

.center-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 150px;
  margin: 48px;
  margin-bottom: 200px;
  color: white;
  width: 500px;
}

/* I gave my p an id for this, but then realised I could just use footer as it's the only thing in here */
footer {
  padding: 40px;
  text-align: center;
  color: grey;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 100;
}
